src/main/mule/cicd-github-pipline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7c64eee3-fb0b-4277-9b50-6926507f1603" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<flow name="getAllUsersFlow" doc:id="38e71d51-e178-4cd8-8d60-3b0e1cd4aba2" >
		<http:listener doc:name="Listener get /cics" doc:id="376b4063-4ca5-47d9-8139-bc06a34af3c7" config-ref="HTTP_Listener_config" path="cicd"/>
		<logger level="INFO" doc:name="Log mule.version" doc:id="3c59d4c5-3d54-4d42-b25b-206222ea68fc" message="#[mule.version]" category="log.getAllUsersFlow.muleVersion"/>
		<db:select doc:name="Select all users" doc:id="309bdead-979b-4a20-93cb-03538e0acb92" config-ref="MySQL_Database_Config">
			<db:sql ><![CDATA[select * from users;]]></db:sql>
		</db:select>
		<set-payload value="#[output application/json --- payload]" doc:name="Set payload" doc:id="6b37b0fc-4bd6-4623-912e-7cfd1c54e0b1" />
		<logger level="INFO" doc:name="Log payload" doc:id="a932892a-530c-4024-ac1c-923bdc536c56" message="#[payload]" category="log.getAllUsersFlow.endPayload"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8f39e67e-fade-4d40-81d1-b46381bee091" type="DB:CONNECTIVITY">
				<logger level="INFO" doc:name="Log errorDescription" doc:id="a46f01e8-0c93-490e-a8db-77eee7b89add" category="log.getAllUsersFlow.errorDescription" message="#[output application/json --- error.errorDescription]"/>
			</on-error-continue>
		</error-handler>
	
</flow>

</mule>
